:root {
  --cb_yellow: #D39F2B;
  --cb_green: #599A50;
  --cb_blue: #3E77B0;
  --cb_gray: #777;
}

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  background-color: black;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#logo {
    height: 3.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}

#game {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid var(--cb_gray);
}

.title {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    flex-direction: column; 
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .75vh;
  padding: 10px;
  box-sizing: border-box;
}

#help, #stats {
  cursor: pointer;
  border: 0px;
  padding: .5rem;
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#stats {
  background-image: url(../images/Icon_Stats.svg);

}

#help {
  background-image: url(../images/Icon_Help.svg);
  border-radius: 5rem;
}

.square {
    border: 2px solid var(--cb_gray);
    width: 7.5vh;
    height: 7.5vh;
    font-size: 4.75vh;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    Background-size: cover;
}

.square.high-letter {
  background-color: var(--cb_yellow);
  border-color: var(--cb_yellow);
  text-shadow: 0.4vh 0.4vh 0.4vh #744812;
}

.square.correct-letter {
  background-color: var(--cb_green);
  border-color: var(--cb_green);
  text-shadow: 0.4vh 0.4vh 0.4vh #2B5038;
}

.square.low-letter {
  background-color: var(--cb_blue);
  border-color: var(--cb_blue);
  text-shadow: 0.4vh 0.4vh 0.4vh #263768;
} 

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 5px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  font-size:2.5vh;
  border: 0;
  padding: 0;
  height: 7.5vh;
  cursor: pointer;
  background-color: var(--cb_gray);
  color: #FFF;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 4px;
  user-select: none;
  text-shadow: 0.25vh 0.25vh #0005;
  box-shadow: inset 0px -5px 0px transparent;
}

.keyboard-row button.high-letter {
  background-color: #333;
  color: var(--cb_gray);
  box-shadow: inset 0px -1vh 0px var(--cb_yellow);
}

.keyboard-row button.correct-letter {
  background-color: #333;
}

.keyboard-row button.low-letter {
  background-color: #333;
  color: var(--cb_gray);
  box-shadow: inset 0px -1vh 0px var(--cb_blue);
} 

.spacer-half {
  flex-grow: 0.5;
  background-color: transparent;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: rgb(18, 18, 19);
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  color: gainsboro;
  max-width: 500px;
}
.modal-content hr {
  border: 1px solid rgb(58, 58, 60);
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#examples {
  width: 80%;
}
.hidden {
  display: none;
}